/* Navbar */
body {
    background-color: #000000;
    
    
}
.navbar-dark .navbar-nav .nav-link  {
  color: #009999;
  
}

/* Using !important */
.nav-link:hover {
  color: gainsboro !important;
}

.navbar, .navbar-expand-md, .navbar-dark, .bg-primary, .sticky-top {
  background-color: black !important;
}

a: link {
    color: white;
    text-decoration: none;
    background-color: transparent;   
}

/*.navbar-brand, index.html {
    background-color: #009999;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}*/



@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

/* Override UGG site */
#main {width: 100%; padding:0;}
.content-asset p {margin:0 auto;}
.breadcrumb {display:none;}

/* Helpers */
/**************************/
.margin-top-10 {padding-top:10px;}
.margin-bot-10 {padding-bottom:10px;}

/* Typography */
/**************************/
#parallax-world-of-ugg h1 {font-family:'Oswald', sans-serif; font-size:24px; font-weight:400; text-transform: uppercase; color:black; padding:0; margin:0;}
#parallax-world-of-ugg h2 {font-family:'Oswald', sans-serif; font-size:70px; letter-spacing:10px; text-align:center; color:pink; font-weight:400; text-transform:uppercase; z-index:10; opacity:.9;}
#parallax-world-of-ugg h3 {font-family:'Oswald', sans-serif; font-size:14px; line-height:0; font-weight:400; letter-spacing:8px; text-transform: uppercase; color:black;}
#parallax-world-of-ugg p {font-family:'Source Sans Pro', sans-serif; font-weight:400; font-size:14px; line-height:24px;}
.first-character {font-weight:400; float: left; font-size: 84px; line-height: 64px; padding-top: 4px; padding-right: 8px; padding-left: 3px; font-family: 'Source Sans Pro', sans-serif;}

.sc {color: #3b8595;}
.ny {color: #3d3c3a;}
.atw {color: #c48660;}

/* Section - Title */
/**************************/
#parallax-world-of-ugg .title {background: white; padding: 60px; margin:0 auto; text-align:center;}
#parallax-world-of-ugg .title h1 {font-size:35px; letter-spacing:8px;}

/* Section - Block */
/**************************/
#parallax-world-of-ugg .block {background: white; padding: 60px; width:820px; margin:0 auto; text-align:justify;}
#parallax-world-of-ugg .block-gray {background: #f2f2f2;padding: 60px;}
#parallax-world-of-ugg .section-overlay-mask {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: black; opacity: 0.70;}

/* Section - Parallax */
/**************************/
#parallax-world-of-ugg .parallax-one {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(../images/camera.png); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: top center;}
#parallax-world-of-ugg .parallax-two {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(../images/nyc.jpg); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}
#parallax-world-of-ugg .parallax-three {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(../images/people-sitting.jpg); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}

/* Extras */
/**************************/
#parallax-world-of-ugg .line-break {border-bottom:1px solid black; width: 150px; margin:0 auto;}

/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-world-of-ugg .block {padding: 40px; width:620px;}
}
@media screen and (max-width: 767px) {
  #parallax-world-of-ugg .block {padding: 30px; width:420px;}
  #parallax-world-of-ugg h2 {font-size:30px;}
  #parallax-world-of-ugg .block {padding: 30px;}
  #parallax-world-of-ugg .parallax-one, #parallax-world-of-ugg .parallax-two, #parallax-world-of-ugg .parallax-three {padding-top:100px; padding-bottom:100px;}
}
@media screen and (max-width: 479px) {
  #parallax-world-of-ugg .block {padding: 30px 15px; width:290px;}
}


/* About us */
.about {
    color: white;
    /*height: 450px;*/
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*h2 {
    color: pink;
    padding-left: 70px;
    padding-top: 40px;
}*/

.line-break-about {border-bottom: 1px solid white; width: 150px; margin:0 auto; margin-bottom: 50px;}



/* Gallery */

.title {background: white; padding: 60px; margin:0 auto; text-align:center;}
.title h1 {font-size:35px; letter-spacing:8px;}
/*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;*/
}

/*body{
  background: #000;
  color: #fff;
  padding: 40px;
  font-family: sans-serif;
  max-width: 960px;
  margin: 0 auto;
}*/

.gallery{
  margin: 0;
  padding: 0;
  height: 100%;
}

[class*='thumbnail-']{
  background: #000;
  width: 33.33%;
  height: auto;
  float: left;
  padding: 5px 5px 3px 5px;
  cursor: zoom-in;
}

[class*='thumbnail-'] img{
  max-width: 100%;
}

[class*='large-']{
  background: #000;
  width: 90%;
  margin: 0 auto;
  padding: 30px;
  display: none;
}

[class*='large-'] img{
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.prev{
  color: #fff;
  font-size: 60px;
  position: absolute;
  top: 45%;
  left: 10px;
  float: left;
}

.next{
  color: #fff;
  font-size: 60px;
  position: absolute;
  top: 45%;
  right: 10px;
  float: right;
}

.close{
  color: gainsboro;
  font-size: 30px;
  position: relative;
/*
  top: 5px;
  right: 10px;
  float: right;
*/
  cursor: zoom-out;
}

[class*='thumbnail-']{
  overflow: hidden;
  padding: 0;
  position: relative;
  cursor: zoom-in;
}

[class*='thumbnail-']:hover img{
  transition: .3s linear;
  transition-delay: 300ms;
  transform: /* rotate(5deg) */ scale(1.4);
}

[class*='thumbnail-'] > .caption{
  display: none;
  position: absolute;
  bottom: 0;
  padding: 15px;
  width: 100%;
  background-color: black;
  color: #009999;
  opacity: 0.8;
}

[class*='thumbnail-']:hover > .caption{
  display: block;
 
}

@media screen and (max-width:480px){
  .caption h3{
    font-size: 12px;
  }
}


/* Contact css */
body {
	background: url('/assets/example/bg_6.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  	background-color: #272829;
    
    
}

h1 .btn {
	font-size:30px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}




/* Jumbotron */
.jumbotron {
    
    background-image: url(../images/dice.jpg);
    background-size: cover;
    color: #009999;
    height: 460px;
}



/* footer */
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
.bg-lightgray
{
    background-color: lightgray;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
    
}

.line-break {border-bottom:1px solid black; width: 150px; margin:0 auto;}







